html, body{
  background-color: black;
}
#background{
    position: fixed;
    font-family: 'Arial', 'Times New Roman', Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    background-image: url(../images/WordGuess.jpg);
    background-position: center top;  
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
  }
  #selection{
    color: white;
    position: fixed;
    height: 50px;
    width: 700px;
    font-size: 200%;
    top: 250px;
    text-align: center;
    left: 300px;
  }
#box1{
  position: fixed;
  height: 500px;
  width: 250px;
  border-width: 2px;
  border-style: dashed;
  border-color: white;
  margin-top: 300px;
  right: 64.3%;
}
#box2{
  position: fixed;
  height: 400px;
  max-width: 450px;
  border-width: 2px;
  border-style: dashed;
  border-color: white;
  color: white;
  padding: 50px;
  margin-top: 300px;
  left: 35.7%;
  text-align: center;
  font-size: 200%;
}
#wins{
  padding: 20px;
} 
#subbox1{
  padding: 20px;
}
#subbox2{
  padding: 20px;
}