html, body{
  background-color: black;
  height: 100%;
  width: 100%;
}
body{
  background-image: url(../images/WordGuess.jpg);
  background-position: center top;  
  background-repeat: no-repeat;  
}
  #selection{
    color: white;
    font-size: 400%;
    padding-top: 250px;
    text-align: center;
  }
#box1{
  position: absolute;
  height: 700px;
  width: 255px;
  border-width: 2px;
  border-style: dashed;
  border-color: white;
  top: 350px;
  right: 55%;
}
#box1 img{
  width: 255px;
}
#box2{
  position: absolute;
  height: 600px;
  width: 450px;
  border-width: 2px;
  border-style: dashed;
  border-color: white;
  color: white;
  padding: 50px;
  top: 350px;
  right: 35%;
  text-align: center;
  font-size: 200%;
}
#wins{
  padding: 20px;
} 
#subbox1{
  padding: 20px;
}
#subbox2{
  padding: 20px;
}
